@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lora:ital@1&family=Montserrat:wght@100&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url('../img/img\ 2.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image_link a{
    background-color: 
    #82615bab;
    border: 2px solid #82615b;
    color: #b69a95;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.origin-image{
    background-attachment: fixed;
    background-image: url(../img/img\ 3.webp)
    background-size: cover
    background-position:bottom 
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    



.origin-image_link{
    background-color: 
    #82615bab;
    border: 2px solid #82615b;
    color: #b69a95;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}


.intro-image_link a:hover{
transform: scale(1.2);
}

.intro-text{
    background-color: #563a36;
    color: #b69a95;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
   
}

.intro-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image{
    background-attachment: fixed;
    background-image: url('../img/img1.webp');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quality-image_link{
    background-color: 
    #88624f98;
    border: 2px solid #88624f;
    color: #b69a95;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.quality-image_link a:hover{
    transform: scale(1.2);
}

.quality-text{
    background-color: #88624f;
    color: #b69a95;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
   
}

.quality-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
    
.footer{
    height: 250px;
    background-color: #82615b;
    color: #b69a95;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
display: inline-block;
margin: 1rem;
}

.footer ul li a {
    color: #b69a95;
    text-decoration: none;
}

.footer ul li:hover{
    color: aliceblue;
    transform: scale(1.3);
}